*{
    margin: 0;
    padding: 0;
}


body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(100,240,200), rgb(73, 156, 105));
    font-family: sans-serif;
    color: beige;
}

span{
    font-weight: bold;
    font-size: larger;
    color:tan;
}

p{
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 15px;
}

.footer{
    animation-name: coloring;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1rem;
    background-color: #e2e1e1;
    text-align: center;
}

@keyframes coloring {
    0%   {color:rgb(255, 255, 255);}
    50% {color:rgb(0, 0, 0);}
    100% {color:rgb(255, 255, 255);}
  }