*{
    margin: 0;
    padding: 0;
}


body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(100,240,200), rgb(73, 156, 105));
    font-family: sans-serif;
    color: beige;
}

span{
    font-weight: bold;
    font-size: larger;
    color:tan;
}

p{
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 15px;
}