*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(100,240,200), rgb(73, 156, 105));
    font-family: sans-serif;
    color: white;
}

.temperature{
    flex-direction: column;
    margin: 0px;
}

.degree-section{
    display: flex;
    align-items: center;
}

.degree-section span{
    margin: 0px;
    font-size: 30px;
}

.degree-section h2{
    font-size: 50px;
}

.pressure{
    display: flex;
    align-items: center;
}

.pressure h3{
    font-size: 30px;
}

.pressure span{
    margin: 5px;
    font-size: 20px;
}

.temperature-description{
    font-weight: bold; 
}

.humidity-section{
    display: flex;
    align-items: center;
}

.humidity-section span{
    margin: 0px;
    font-size: 30px;
}

.humidity-section h2{
    font-size: 50px;
}